$lgray : #eeeeee;
$gray : #999999;
$darkgray : #333;
$darkred : #d32402;
$white : #fff;
$marginLeft : 32px;
$normal : #000;
$orange : #ff5500;
$f2 : #000;
$f3 : #e7604d;
$f4 : #0a95d6;
$f5 :#e55182;
$f6 :#3e9a35;
$f7 :#0b59a1;